@use "colors";

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 50px;
  border: none;
  background: colors.$dark-gray-blue;
  transition: 0.2s;
}

.button:hover {
  cursor: pointer;
  background: colors.$light-royal-blue;
}
