@use "colors";

.main {
  height: calc(100vh - 60px);
}

.card,
.card-left,
.card-right,
.points,
.points-card,
.button {
  width: 100%;
}

.card,
.card-left {
  border-radius: 30px;
}

.card {
  display: flex;
  max-width: 736px;
  height: 100%;
  max-height: 512px;
  box-shadow: 10px 10px 60px rgba(200, 199, 255, 0.3);
}

.card-left,
.card-right {
  max-width: 368px;
}

.card-left,
.card-circle,
.card-text,
.card-right,
.card-right .points,
.points-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-left {
  gap: 32px;
  background: linear-gradient(
    colors.$light-slate-blue,
    colors.$light-royal-blue
  );
}

.card-left h2,
.card-circle span,
.card-text h3,
.card-left p {
  font-weight: 500;
}

.card-left h2,
.card-circle,
.card-left p,
.span-outer,
.button {
  color: colors.$light-lavender;
}

.card-left h2 {
  font-size: 1.5rem;
}

.card-circle,
.card-circle span,
.card-text h3,
.card-right h2 {
  line-height: 1;
}

.card-circle,
.points-card,
.button {
  font-size: 1.125rem;
}

.card-circle,
.points-card div {
  gap: 8px;
}

.card-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(colors.$violet-blue, colors.$persian-blue);
}

.card-circle span,
.card-text h3 {
  color: colors.$pale-blue;
}

.card-circle span {
  font-size: 4.5rem;
  font-weight: 700;
}

.card-text {
  gap: 22px;
}

.card-text h3,
.card-left p {
  letter-spacing: 1.5px;
}

.card-text h3 {
  font-size: 1.185rem;
}

.card-left p {
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
}

.card-right {
  padding-left: 40px;
  padding-right: 40px;
  align-items: start;
}

.card-right h2,
.span-inner {
  color: colors.$dark-gray-blue;
}

.card-right h2 {
  font-size: 1.5rem;
}

.card-right .points {
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 20px;
}

.points-card,
.button {
  height: 56px;
}

.points-card {
  max-width: 288px;
  border-radius: 12px;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.points-card div {
  display: flex;
}

.reaction {
  color: colors.$light-red;
  background: hsla(0, 100%, 67%, 0.1);
}

.memory {
  color: colors.$orangey-yellow;
  background: hsla(39, 100%, 56%, 0.1);
}

.verbal {
  color: colors.$green-teal;
  background: hsla(166, 100%, 37%, 0.1);
}

.visual {
  color: colors.$cobalt-blue;
  background: hsla(234, 85%, 45%, 0.1);
}

.span-inner {
  font-weight: 800;
}
