@media screen and (max-width: 600px) {
  .main {
    padding: 0;
    align-items: flex-start;
  }

  .card {
    flex-direction: column;
    box-shadow: none;
  }

  .card-left,
  .card-right,
  .points-card {
    max-width: 100%;
  }

  .card-left {
    border-radius: 0 0 1.875rem 1.875rem;
    padding: 1.875rem 0;
  }

  .card-right {
    padding: 1.875rem 1.25rem;
  }
}
